<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ValueitServer.Properties.Settings.ValueITDatabaseConnectionString"
            connectionString="server=localhost;user id=root;password=NitroRoot12#;persistsecurityinfo=True;database=ValueITDatabase"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>